In [15]:
from zeep import Client
from datetime import datetime
import pandas as pd

client = Client('http://odahavdata.oda.dk/ODAHavData.asmx?WSDL')

# Possible subjects

In [50]:
subjects = client.service.dataemner()

data =list(map(lambda x: {'id' : x.id, 'value': x.value}, subjects))

pd.DataFrame(data)

   id            value
0  10         Vandkemi
1  14      Zooplankton
2  15    Phytoplankton
3  18       CTD-måling
4  19  Sigtdybdemåling

# Getting data by Station name

In [59]:

rawdata = client.service.getDataByStation(startDT=datetime(2018,1,1),
                            slutDT=datetime(2018,2,1),
                            dataemneId=10,
                            parameterId=251,
                            stationName= "VSJ20925")

data =list(map(lambda x: {'station': x.stationNavn,
                          'lon': x.lon,
                          'lat': x.lat,
                          'date': x.dato,
                          'parameter_id'  :x.parameterId,
                          'unit' : x.enhed,
                          'depth' : x.dybde,
                          'value' : x.vaerdi,
                          'qa_level' : x.QAniveau,
                          'species_id': x.ArtId}, 
                           rawdata))

df =pd.DataFrame(data)
df

#df[['date','value']]

,date,depth,lat,lon,parameter_id,qa_level,species_id,station,unit,value
0,2018-01-10 08:50:00,1.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,64.0
1,2018-01-10 08:50:00,5.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,62.0
2,2018-01-10 08:50:00,10.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,61.0
3,2018-01-10 08:50:00,20.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,64.0
4,2018-01-10 08:50:00,30.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,86.0
5,2018-01-10 08:50:00,38.6,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,94.0
6,2018-01-25 08:53:00,1.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,75.0
7,2018-01-25 08:53:00,5.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,75.0
8,2018-01-25 08:53:00,10.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,74.0
9,2018-01-25 08:53:00,20.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,88.0
10,2018-01-25 08:53:00,30.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,89.0
11,2018-01-25 08:53:00,45.0,56.1305,11.1563,251,3,-9,VSJ20925,µg/l,90.0